<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <title>Voting App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body ng-app="votingApp" ng-strict-di>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse" 
                     type="button" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a class="navbar-brand text-uppercase" href="/" target="_self">Voting-app</a>
                </div> <!-- /.navbar-header -->

                <div id="menu-collapse" class="collapse navbar-collapse" ng-controller="MenuController as menu">
                    <ul id="nav-list" class="nav navbar-nav navbar-right">
                        <li ng-if="menu.username" class="hidden-xs">
                            <a>Hello, {{ ::menu.username }}</a>
                        </li>  <!-- Use a dropdown btn here for options (delete account/see polls) -->
                        <li class="navButton" ng-if="menu.username">
                            <a href="/my-polls" class="btn btn-primary" role="button">My Polls</a>
                        </li>
                        <li class="navButton" ng-if="menu.username">
                            <a href="/new-poll" class="btn btn-success"  role="button">New Poll</a>
                        </li>
                        <li>
                            <a href="/logout" target="_self" ng-if="menu.username">Log Out</a>
                        </li>
                        <li>
                            <a href="/login" ng-if="!menu.username">Log In</a>
                        </li>
                        <li class="navButton" ng-if="!menu.username">
                            <a class="btn btn-primary" href="/sign-up" role="button">Sign Up</a>
                        </li>
                    </ul>
                </div> <!-- /#menu-collapse -->
            </div> <!-- /.container-fluid -->
        </nav>
    </header>

    <div id="main-content" class="container">
        <ng-view></ng-view>
    </div>

    <footer class="panel-footer">
        <div class="container-fluid">
            <p class="pull-right">
                Developed by
                <a href="https://github.com/felipefss" target="_blank">Felipe Santos</a>
            </p>
        </div>
    </footer>

    <!-- Library -->
    <script src="lib/jquery-3.2.0.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>
    <script src="lib/angular-cookies.min.js"></script>
    <script src="lib/angular-jwt.min.js"></script>
    <script src="lib/ng-google-chart.min.js"></script>

    <!-- Modules -->
    <!-- Main module -->
    <script src="src/voting-app.module.js"></script>
    <script src="src/voting-app.routes.js"></script>

    <!-- Public -->
    <!-- Controllers -->
    <script src="src/menu/menu.controller.js"></script>
    <script src="src/home/home.controller.js"></script>
    <script src="src/auth/login.controller.js"></script>
    <script src="src/auth/sign-up.controller.js"></script>
    <script src="src/polls/new-poll.controller.js"></script>
    <script src="src/polls/poll.controller.js"></script>
    <script src="src/polls/my-polls.controller.js"></script>

    <!-- Services -->
    <script src="src/auth/auth.service.js"></script>
    <script src="src/polls/polls.service.js"></script>

    <!-- Components -->
    <script src="src/polls/all-polls.component.js"></script>
</body>

</html>