/* COMMON */
* {
    box-sizing: border-box;
}

#main-content {
    background: #7887AB;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

.ng-touched.ng-valid {
    border: 2px green solid;
}

.ng-touched.ng-invalid {
    border: 2px red solid;
}

/* HEADER */
#nav-list {
    text-align: center;
}

#navSigninButton > a {
    color: #FFF;
}

#navSigninButton > a:hover, #navSigninButton > a:focus {
    color: #000;
}

/* FOOTER */
.panel-footer {
    padding-bottom: 0;
}